<!--Hashir Khan 100911091
Afeef Hossain 100923314
Kapiraj Sivakumar 100817815-->
<!--Call header-->
<%- include Partials/header.ejs %>
<!--Call navbar-->
<%- include Partials/main_nav.ejs %>
<!--Error message-->
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!--Call footer-->
<%- include Partials/footer.ejs %>